.difficulty-controls {
    flex-wrap: wrap;
    gap: 0.5rem;
}


.difficulty-select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 0.1rem;
    color: white;
}

.difficulty-select option {
    background-color: #1F2937;
    color: white;
}