.daily-challenge-card {
    border-radius: 50px;
    padding: 1.6rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    width: 100%;
    max-width: 600px;
    margin: 1.2rem auto;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    font-size: 1.5rem;
}

.daily-challenge-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.daily-challenge-box {
    border-radius: 0.75rem;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 1.4rem;
    border-radius: 50px;
    border-bottom: 1px solid rgba(228, 135, 30, 0.815);
}

.daily-challenge-box:hover {
    transform: translateY(-1px);
    border-color: rgba(247, 61, 15, 0.562);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}