/* Header Styles */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background: linear-gradient(135deg, #0f172a, #2a2b46);
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px; /* Rounded corners */
    margin: 1rem 2rem; /* Margin around the header */
}

.header-left {
    max-width: 75%;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.main-title {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    background: linear-gradient(to right, #bef264, #4ade80);
    -webkit-background-clip: text;
    -webkit-text-full: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
    letter-spacing: 0.04rem;
}

.profile-button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.profile-menu-container {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 100;
}

.profile-button {
    position: relative;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    z-index: 12000;
}
