/* Header Styles */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-background-filter: blur(10px); /* For Safari */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.1); /*Depth*/
    color: #fff;
    border-bottom: 2px solid rgba(255, 74, 2, 0.726);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px; /* Rounded corners */
    margin: 1rem 2rem; /* Margin around the header */
    transition: transform 0.2s ease;
}

.site-header:hover {
    transform: translateY(-2px);
}

.header-left {
    max-width: 75%;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.main-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    background: linear-gradient(to right, #f8fc25, #f85454);
    -webkit-background-clip: text;
    -webkit-text-full: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
    letter-spacing: 0.06rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profile-button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.profile-menu-container {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 100;
}

.profile-button {
    position: relative;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    z-index: 12000;
}
