.button-group-card {
    border-radius: 20px;
    border-left: 1px solid rgba(228, 135, 30, 0.815);
    border-right: 1px solid rgba(228, 135, 30, 0.815);
    padding: 1.6rem;
    height: 56 px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12), inset 0 1px 0 rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 810px;
    margin: 2rem auto;
    backdrop-filter: blur(6px);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    gap: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-group-card:hover {
    transform: translateY(-1px);
    border-color: rgba(247, 61, 15, 0.562);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.primary-button {
    background: linear-gradient(to right, #cc1212, #ffdf2c);
    color: #0f172a;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1rem;
}

.primary-button:hover {
    transform: translateY(-2px);
}

.secondary-button {
    background: transparent;
    color: #4ade80;
    font-weight: 500;
    padding: 0.6rem 1.3rem;
    border-radius: 9999px;
    border: 2px solid #4ade80;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1rem;
}

.secondary-button:hover {
    background: rgba(74, 222, 128, 0.1);
    transform: translateY(-2px);
}

.primary-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
