.sad-faces {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 25px;
}

.sad-emoji {
    animation: slideDown 3s ease forwards;
    opacity: 0;
}

.sad-emoji:nth-child(1) { animation-delay: 0s; }
.sad-emoji:nth-child(2) { animation-delay: 0.1s; }
.sad-emoji:nth-child(3) { animation-delay: 0.3s; }
.sad-emoji:nth-child(4) { animation-delay: 0.5s; }
.sad-emoji:nth-child(5) { animation-delay: 0.4s; }
.sad-emoji:nth-child(6) { animation-delay: 0.5s; }

@keyframes slideDown {
    from {
        transform: translateY(-20);
        opacity: 0;
    }
    to {
        transform: translateY(250px);
        opacity: 1;
    }
}

.fireworks {
    position: relative;
}

/* Top-Left corner */
.fireworks.top-left {
    position: absolute;
    top: -80px;
    left: 0;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, #ff0000, #ff4500, #ffd700, #ffffff);
    border-radius: 50%;
    animation: burstFromCorner 1.7s ease-in-out forwards;
    opacity: 0;
}

/* Top-Right corner */
.fireworks.top-right{
    position: absolute;
    top: -80px;
    right: 0;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, #ff0000, #ff4500, #ffd700, #ffffff);
    border-radius: 50%;
    animation: burstFromCorner 1.7s ease-in-out forwards;
    opacity: 0;
}

/* Top-middle-right */
.fireworks.top-middle-right {
    position: absolute;
    top: -95px;
    right: 0;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, #ff0000, #ff4500, #ffd700, #ffffff);
    border-radius: 50%;
    animation: burstFromCorner 1.7s ease-in-out forwards;
    opacity: 0;
}

/* Top-middle-left */
.fireworks.top-middle-left {
    position: relative;
    top: -95px;
    left: 0;
    height: 20px;
    width: 20px;
    background: radial-gradient(circle, #ff0000, #ff4500, #ffd700, #ffffff);
    border-radius: 50%;
    animation: burstFromCorner 1.7s ease-in-out forwards;
    opacity: 0;
}

/* Stars */
.fireworks.top-left::before,
.fireworks.top-right::before,
.fireworks.top-middle-right::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background: black;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.star-extra {
    position: absolute;
    width: 8px;
    height: 8px;
    background: black;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    z-index: 1;
}

.star-extra.star-1 {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.star-extra.star-2 {
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%) rotate(90deg);
}

@keyframes burstFromCorner {
    0% { /* Glow Starts */
        transform: scale(0) ;
        opacity: 1;
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }
    25% { /* Red Glow */
        transform: scale(1) translateY(-10px) translateX(var(--direction, 0));
        opacity: 0.9;
        box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.7);
    }
    50% { /* Yellow Glow */ 
        transform: scale(1.5) translateY(-30px) translateX(var(--direction, 0));
        opacity: 0.8;
        box-shadow: 0 0 20px 10px rgba(255, 215, 0, 0.7);
    }
    100% { /* Fade Glow*/
        transform: scale(0) rotate(180deg) translateY(-60px) translateX(var(--direction, 0));
        opacity: 0;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}