 .sad-faces {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 25px;
 }

 .sad-emoji {
    animation: slideDown 2s ease forwards;
    opacity: 0;
 }

 .sad-emoji:nth-child(1) { animation-delay: 0s; }
 .sad-emoji:nth-child(2) { animation-delay: 0.3s; }
 .sad-emoji:nth-child(3) { animation-delay: 0.5s; }
 .sad-emoji:nth-child(4) { animation-delay: 0.3s; }
 .sad-emoji:nth-child(5) { animation-delay: 0.6s; }
 .sad-emoji:nth-child(6) { animation-delay: 0.5s; }


 @keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(210px);
        opacity: 1;
    }
 }