 .sad-faces {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 25px;
 }

 .sad-emoji {
    animation: slideDown 2s ease forwards;
    opacity: 0;
 }

 .sad-emoji:nth-child(1) { animation-delay: 0s; }
 .sad-emoji:nth-child(2) { animation-delay: 0.1s; }
 .sad-emoji:nth-child(3) { animation-delay: 0.3s; }
 .sad-emoji:nth-child(4) { animation-delay: 0.5s; }
 .sad-emoji:nth-child(5) { animation-delay: 0.4s; }
 .sad-emoji:nth-child(6) { animation-delay: 0.5s; }

 @keyframes slideDown {
    from {
        transform: translateY(-20);
        opacity: 0;
    }
    to {
        transform: translateY(250px);
        opacity: 1;
    }
 }

 .fireworks {
    position: absolute;
    inset: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pop 1s ease-out forwards;
 }

 @keyframes pop {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
 }