.stats-cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    width: 100%;
    max-width: 650px;
    margin: 1.4rem auto;
    flex-wrap: wrap;
}

.stat-card {
    flex: 1;
    background: transparent;
    color: #fff;
    border-radius: 1rem;
    padding: 2.4rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.1);
    text-align: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    backdrop-filter: blur(8px);
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.stat-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.35);
    border-top: 1px solid rgba(228, 135, 30, 0.815);
}

.stat-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #f0f1ec;
    letter-spacing: 0.5px;
}

.stat-card p {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
}

.stat-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.stat-tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(6px);

    background: transparent;
    color: rgba(235, 162, 79, 0.719);
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.2;
    width: max-content;
    max-width: 230px;
    text-align: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease, transform 0.15s ease;
    z-index: 10;
}

/*Show on hover || focus*/
.stat-card:hover .stat-tooltip,
.stat-card:focus .stat-tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}